//Widget
.widget{
    background:$light-blue;
    margin-bottom: $xl-size;
}

//Widget header
.widget-header{
    background: $blue;
    color:$off-white;
    padding:$m-size;
    display:flex;
    justify-content: space-between;
}

.widget-header__title{
    margin:0;
}


//Element selector
.widget-message{
    color:$off-white;
    text-align: center;
    padding:$l-size;
    margin:none;
    border-bottom: 1x solid lighten($light-blue, 10%);
}
